html {
  --background: #fdfcee;
  --complimentary: #eeeffd;
  --primaryColor: #BCCC9A;
  --textColor: #000256;
}

.App {
  text-align: center;
  background-color: var(--background);
  color: var(--textColor);
}

.App_body {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Main__Image {
  height: 50vmin;
  padding: 2vmin;
}

.footer {
  background-color: var(--complimentary);
  border-color: #760f7d;
  border-top: 1rem solid;

 }

.border-top {
  border-color: #760f7d;
}

.home {
  width: 80%;
  margin-left: 10%;

}

.donate {
  padding-bottom: 20px;
}

.logo {
  max-height: 40px;
}

.navbar, .navbar-brand {
  background-color: var(--background);
  color: var(--textColor);
}

.nav-link {
  color: var(--textColor);

}

.custom-toggler.navbar-toggler {
  border-color: var(--textColor)
}

.privacy.li {
  list-style: none;

}


/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
