html {
  --background: #fdfcee;
  --complimentary: #eeeffd;
  --primaryColor: #BCCC9A;
  --textColor: #000256;
}

.App {
  text-align: center;
  background-color: var(--background);
  color: var(--textColor);
}

.App_body {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Main__Image {
  height: 50vmin;
  padding: 2vmin;
}

.footer {
  background-color: var(--complimentary);
  border-color: #760f7d;
  border-top: 1rem solid;

 }

.border-top {
  border-color: #760f7d;
}

.home {
  margin-top: 60px;
  width: 80%;
  margin-left: 10%;

}

.Donate {
  padding-bottom: 10px;
}


.logo {
  max-height: 40px;
}

.navbar, .navbar-brand {
  background-color: var(--background);
  color: var(--textColor);
}

.nav-link {
  color: var(--textColor);

}

.custom-toggler.navbar-toggler {
  border-color: var(--textColor)
}

.privacy.li {
  list-style: none;

}

.privacy {
  margin-top: 60px;
}

.about {
  margin-top: 60px;
}

