html {
  --background: #EAE7C6;
  --primaryColor: #BCCC9A;
}

.App {
  text-align: center;
}

.App_body {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

img {
  height: 50vmin;
}

.footer {
  background-color: var(--primaryColor);
}
