html {
  --background: #b3d1ff;
  --primaryColor: #d5ff80;
}

.App {
  text-align: center;
}

.App_body {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


img {
  height: 50vmin;
}
