@import "App.css";

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: var(--primaryColor);
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px 1px rgba(195, 123, 137, 0.75);
}

.header__left{
    display: flex;
    justify-content: space-evenly;
}

.header__left > img {
    height: 40px;
}

.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__right {
    display: flex;
}

